@import "tailwindcss";

@theme {
    --font-serif: "Newsreader", serif;

    --color-brand-dark: #ffffff;
    /* Re-mapped to white for light mode */
    --color-brand-text: #171717;
    /* Zinc 900 */
    --color-brand-accent: #4f46e5;

    --animate-fade-in: fadeIn 0.3s ease-out forwards;

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}

/* Ensure nice scrolling */
html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-brand-dark);
    color: var(--color-brand-text);
    font-family: var(--font-serif);

    /* Premium Typography Settings */
    font-feature-settings: "kern", "liga", "clig", "calt";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}